.whapper {
  max-width: 70rem; /* calculo de soma do whapper soma de tudo dividido por 16 para dar quantidade de rem "1 rem = 16px "*/
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr; /* 1 fr é o que caber na tela fr = flexível*/

  gap: 2rem; /* espaçamento entre as colunas de 32 px */
  align-items: flex-start; /* alinha sempre para o topo*/

}

@media (max-width: 768px) {
  html{
    font-size: 87.5%; /*o calculo foi feito em regra de três 16 px é 100, 14 é  87,5 14*100/16 */
  }

  .whapper{
    grid-template-columns: 1fr;
  }
}

